*{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: aquamarine;
}

h1, h2{
    font-size: 40px;
}

input, button {
    height: 40px;
    background-color: pink;
    font-size: 30px;

}

button {
    cursor: pointer;
}